body
{
    background-color: #6699FF;
}

header {
    background-color: #808080;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 23%;
    left: -7%;
}

footer
{
    background-color: #600;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 90%;
    left: 0%;
}

article
{
    background-color: #CC66FF;
    position: fixed;
    width: 80%;
    top: 10%;
    left: 20%;
}
